<style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body {
      font-family: Hanken Grotesk;
    }
    .card {
      display: flex;
      margin: 90px 25%;
    }
    @media (max-width: 768px){
      .card {
        display: flex;
        flex-direction: column;
      }
      .result-score {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        width: 100%;
      }
    }
    .result-score {
      background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
      );
      color: hsl(0, 0%, 100%);
      text-align: center;
      border-radius: 20px;
      width: 400px;
    }
    .circle {
      background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      border-radius: 50%;
      width: 55%;
      margin: auto;
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-weight: 900;
      font-size: 50px;
      font-family: Hanken Grotesk;
    }
    button {
      background: hsl(224, 30%, 27%);
      border: none;
      border-radius: 30px;
      margin: 10px 25px;
      color: #fff;
      width: 90%;
      height: 50px;
    }
    h4 {
      color: hsl(241, 100%, 89%);
    }
    .result-score p {
      color: hsl(241, 100%, 89%);
    }
    .summary {
      background-color: #fff;
      width: 350px;
    }
    .score {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .one {
      background: hsl(0, 100%, 95%);
      border-radius: 20px;
    }
    .red {
      color: hsl(0, 100%, 67%);
    }
    svg {
      position: relative;
      top: 4px;
      right: 10px;
    }
    h3 {
      text-align: start;
      position: relative;
      left: 30px;
    }
    .orange-yellow {
      color: hsl(39, 100%, 56%);
    }
    .two {
      background: hsl(39, 100%, 94%);
      border-radius: 20px;
    }
    .green-teal {
      color: hsl(166, 100%, 37%);
    }
    .three {
      background: hsl(166, 100%, 95%);
      border-radius: 20px;
    }
    .bold {
      font-weight: bold;
    }
    .cobalt-blue {
      color: hsl(234, 85%, 45%)
    }
    .four {
      background: hsl(234, 39%, 95%);
      border-radius: 20px;
    }
    .light {
      color: gray;
    }
    button:active {
      background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
      );
    }
  </style>